[submodule "libs/opencv"]
	path = libs/opencv
	url = https://github.com/webarkit/opencv
[submodule "libs/opencv_contrib"]
	path = libs/opencv_contrib
	url = https://github.com/webarkit/opencv_contrib
